{% load static %}
<!-- footer start -->
            <div class="row  footer py-5 mt-5" style="background-image: url(../static/images/footerbg.webp);">
                <div class="col-sm-12 text-center text-light">
                    <img src="{% static '/images/29.jpg' %}" alt="">
                    <h4>About Us</h4>
                    <p>Welcome to Organica Feast, where we believe that good health starts with great food. Founded in 2026 by Abdul Quddus, our mission is to bring the highest quality organic produce right to your doorstep. We are dedicated to promoting a healthier lifestyle through sustainable and organic food choices.</p>
                    <p>&copy; 2026 all right reserved, designed and developed by <i class="text-warning">Abdul Quddus</i></p>
                </div>
            </div>
            <!-- footer end -->
